spacenet_ori
cityscale_ori
*.pyc
*.lprof
*.jpg
/mydata
/lightning_logs
/__pycache__
/inference_results
/checkpoints
mydata/
/cityscale_metrics/*.json
sam/ckpt/
/logs
/code_backup
globalscale/*
wild_data/*
compute_threshold/dump
config/my_config/

wildroad/
wildroad_metrics/
temp/
globalscale/
globalscale_metrics/
