spacenet
cityscale
*.pyc
*.lprof
*.png
/mydata
/lightning_logs
/__pycache__
/inference_results
/checkpoints
mydata/
/cityscale_metrics/*.json
sam/
sam_ckpts
/logs
/code_backup
globalscale/*
wild_data/*
compute_threshold/dump/