
*.pyc
*.lprof
*.jpg
/mydata
/lightning_logs
/__pycache__
/inference_results
/checkpoints
sam/ckpt/
sam/segment_anything/__pycache__
/cityscale_metrics/*.json
/logs
/code_backup

spacenet_ori
cityscale_ori/
cityscale
spacenet
cityscale_metrics
spacenet_metrics

wild_data/*
compute_threshold/dump/
compute_threshold/readme.md
config/my_config
/wildroad/preprocess_data/__pycache__
/wildroad/preprocess_data/toponet_vitb_512_globalscale.yaml
/wildroad/wild_road
/wildroad/wild_road_mask
/wildroad/wild_road_GLG
datasets/__pycache__
wildroad_metrics/result
/wildroad_metrics/metrics/optimized_topo/__pycache__

globalscale/Globalscale
globalscale/Globalscale*/
globalscale/preprocess_data/__pycache__
globalscale_metrics/result/*

/temp

dataset.py
test.py
datamodule.py
compute_threshold/readme.md

assets/temp