DATASET: 'cityscale'

# IN1k + MAE only
NO_SAM: False

SAM_VERSION: 'vit_b'
SAM_CKPT_PATH: 'sam_ckpts/sam_vit_b_01ec64.pth'
PATCH_SIZE: 512
BATCH_SIZE: 32 # 32->16
DATA_WORKER_NUM: 1
TRAIN_EPOCHS: 10
BASE_LR: 0.001
FREEZE_ENCODER: False
ENCODER_LR_FACTOR: 0.1
ENCODER_LORA: False
FOCAL_LOSS: False
USE_SAM_DECODER: False

# TOPONET
# sample per patch
TOPO_SAMPLE_NUM: 512
TOPONET: 'maGTopoNet' # pathAwareTopoNet, transformer, maGTopoNet
TOPONET_VERSION: 'normal' # no_tgt_features, no_offset, no_features, normal
NUM_INTERPOLATIONS: 32
USE_POINT_FEATURES: False
USE_PATH_FEATURES: True
USE_EDGE_BIAS: True
POOL_KERNEL_SIZES: [1, 3, 5]
ANGLE_SIGMA: 0.523598775598 # pi/6 0.523598775598 # pi/4 0.7853981633974483 
LAMBDA_TURN: 0.4
LAMBDA_COMPETE: 0.2 # 0.1

# Inference
INFER_BATCH_SIZE: 64 # 64
SAMPLE_MARGIN: 64
INFER_PATCHES_PER_EDGE: 16

# ======= keypoint ======
# Best threshold 0.248046875, P=0.46317335963249207 R=0.3987990915775299 F1=0.42858240008354187
# ======= road ======
# Best threshold 0.363525390625, P=0.7002477049827576 R=0.7432668209075928 F1=0.7211161851882935
# ======= topo ======
# Best threshold 0.499267578125, P=0.9713579416275024 R=0.9679416418075562 F1=0.9696467518806458

ITSC_THRESHOLD: 0.217 # V-11 0.206 0.205 V_10 0.219 V_9 0.214 last ckpt # 0.216 epoch_8
ROAD_THRESHOLD: 0.404 # V-11 0.376 0.372 V_10 0.371 V_9 0.393 last ckpt # 0.385 epoch_8
TOPO_THRESHOLD: 0.250 # V-11 0.484 0.411 V_10 0.444 V_9 0.433 last ckpt # 0.447 epoch_8
# pixels
ITSC_NMS_RADIUS: 8
ROAD_NMS_RADIUS: 16
NEIGHBOR_RADIUS: 64
MAX_NEIGHBOR_QUERIES: 16

SUBDIVIDE_RESOLUTION: 4 # new parameter
INTERESTING_RADIUS: 32 # new parameter
INTR_SAMPLE_WEIGHT: 0.9 # new parameter
NOISE_SCALE: 1.0 # new parameter