DATASET: 'spacenet'

# IN1k + MAE only
NO_SAM: False

SAM_VERSION: 'vit_b'
SAM_CKPT_PATH: 'sam/ckpt/sam_vit_b_01ec64.pth'
PATCH_SIZE: 256
BATCH_SIZE: 64
DATA_WORKER_NUM: 1
TRAIN_EPOCHS: 20
BASE_LR: 0.001
FREEZE_ENCODER: False
ENCODER_LR_FACTOR: 0.1
ENCODER_LORA: False
FOCAL_LOSS: False
USE_SAM_DECODER: False
USE_FAST_NMS: False # [False, True]

# TOPONET
TOPO_SAMPLE_NUM: 128
TOPONET: 'maGTopoNet' # transformer, maGTopoNet
TOPONET_VERSION: 'normal'
NUM_INTERPOLATIONS: 16
USE_POINT_FEATURES: False
USE_PATH_FEATURES: True
USE_EDGE_BIAS: True
POOL_KERNEL_SIZES: [1, 7, 13]
ANGLE_SIGMA: 0.7853981633974483 # pi/6 0.523598775598 # pi/4 0.7853981633974483 
LAMBDA_TURN: 0.4
LAMBDA_COMPETE: 0.1

# Inference
INFER_BATCH_SIZE: 64
SAMPLE_MARGIN: 0
INFER_PATCHES_PER_EDGE: 16

# ======= keypoint ======
# Best threshold 0.1949462890625, P=0.34380707144737244 R=0.326823890209198 F1=0.3351004719734192
# ======= road ======
# Best threshold 0.3408203125, P=0.6585257053375244 R=0.7146456837654114 F1=0.6854389309883118
# ======= topo ======
# Best threshold 0.705078125, P=0.9746968150138855 R=0.9701263904571533 F1=0.9724062085151672

ITSC_THRESHOLD: 0.157
ROAD_THRESHOLD: 0.373
TOPO_THRESHOLD: 0.426
# pixels
ITSC_NMS_RADIUS: 8
ROAD_NMS_RADIUS: 16
NEIGHBOR_RADIUS: 64
MAX_NEIGHBOR_QUERIES: 16

SUBDIVIDE_RESOLUTION: 16
INTERESTING_RADIUS: 32
INTR_SAMPLE_WEIGHT: 0.9
NOISE_SCALE: 1.0