DATASET: 'globalscale'
MODEL_NAME: 'MaGRoad' # MaGRoad, SAMRoadplus

# IN1k + MAE only
NO_SAM: False

SAM_VERSION: 'vit_b'
SAM_CKPT_PATH: 'sam/ckpt/sam_vit_b_01ec64.pth'
PATCH_SIZE: 512
BATCH_SIZE: 32
DATA_WORKER_NUM: 8
TRAIN_EPOCHS: 1024 # 16 * 64 = (img_size/patch_size) ** 2 * epochs
BASE_LR: 0.001
FREEZE_ENCODER: False
ENCODER_LR_FACTOR: 0.1
ENCODER_LORA: False
FOCAL_LOSS: False
USE_SAM_DECODER: False
USE_FAST_NMS: False # [False, True]

# TOPONET
TOPO_SAMPLE_NUM: 512
TOPONET: 'maGTopoNet' # transformer, maGTopoNet
TOPONET_VERSION: 'normal' # no_tgt_features, no_offset, no_features, normal
NUM_INTERPOLATIONS: 32

USE_POINT_FEATURES: False
USE_PATH_FEATURES: True
USE_GEOMETRIC_FEATURES: True
USE_EDGE_BIAS: True

POOL_KERNEL_SIZES: [1, 3, 5]
ANGLE_SIGMA: 0.523598775598 # pi/6 0.523598775598 # pi/4 0.7853981633974483 
LAMBDA_TURN: 0.4
LAMBDA_COMPETE: 0.2

# Inference
INFER_BATCH_SIZE: 64
SAMPLE_MARGIN: 0
INFER_PATCHES_PER_EDGE: 16

ITSC_THRESHOLD: 0.217
ROAD_THRESHOLD: 0.404
TOPO_THRESHOLD: 0.455

# pixels
ITSC_NMS_RADIUS: 8
ROAD_NMS_RADIUS: 16
NEIGHBOR_RADIUS: 64
MAX_NEIGHBOR_QUERIES: 16

SUBDIVIDE_RESOLUTION: 4
INTERESTING_RADIUS: 32
INTR_SAMPLE_WEIGHT: 0.9
NOISE_SCALE: 1.0